header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    font-family: "Montserrat", sans-serif;
}

.header-container {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 .65rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.header-logo {
    font-size: 1.1rem;
    padding: 0 .6rem;
    font-weight: 800;
    cursor: pointer;
}

.header-navbar {
    padding: 0 10px;
}

.header-navbar-list {
    display: flex;
    align-items: center;
    gap: 0 10px;
    list-style: none;
}

.header-navbar-list-item {
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    padding: .60rem .85rem;
    border-radius: 8px;
    transition: background-color 250ms ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navbar-item-icon {
    margin-top: .15rem;
    margin-left: .3rem;
}

.header-button {
    font-size: .9rem;
    font-style: inherit;
    font-weight: 500;
    background: transparent;
    border: none;
    padding: .52rem .9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 200ms ease;
}

.header-button:hover,
.header-navbar-list-item:hover {
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.header-button.cool {

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    padding: .52rem 1rem;

    margin-left: .4rem;

    color: white;

    background: hsla(202, 71%, 27%, 1);

    background: linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#145277", endColorstr="#83D0CB", GradientType=1);
}

.header-button.cool:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}