@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: "Montserrat", sans-serif;
  /* max-width: 1200px; */
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  /* border: 1px solid lightgreen; */
  width: 1200px;
  margin: 0 auto;

}

.sub-title {
  text-align: center;
  font-size: 2em;
  font-weight: 650;
}

.slider {
  display: flex;
  gap: 0 15px;
  position: relative;
}

footer {
  background: #FBFBFF;
  text-align: center;
  padding: 6rem 0 4rem 0;
}

footer p {
  position: relative;
}

.develop-logo,
.design-logo {
  position: absolute;
  top: -330%;
  left: 50%;
  transform: translateX(-50%);
}

.footer-text-design {
  font-weight: 500;
  background: #654ea3;

  background: -webkit-linear-gradient(to right, #dfd0d7, #654ea3);

  background: linear-gradient(to right, #5596cf, #654ea3);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text-develop {
  font-weight: 500;
  background: #D31027;

  background: -webkit-linear-gradient(to right, #EA384D, #D31027);

  background: linear-gradient(to right, #EA384D, #D31027);

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.footer-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright-text {
  font-size: .9rem;
  margin-top: 1.5rem;
}